---
import '../styles/global.css';
import Navigation from '../components/Navigation.jsx';
import MyPageComponent from '../components/MyPageComponent';
import InfinysPage2 from '../components/InfinysPage2.jsx';
// Komponen React yang akan merender data

const response = await fetch('http://localhost:1337/api/svgs'); // Ganti URL dengan endpoint API Anda
const data = await response.json();
const svg = data.data.id

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
</head>
<body>
  
</body>  
</html>
